<h1>Calendar</h1>

Click here to subscribe to the calendar: <%= link_to 'subscribe', calendar_url(protocol: :webcal, format: :ics), target: "_blank" %>
<br>
Click here to download to the calendar: <%= link_to 'download', calendar_url(format: :ics) %>
